<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;500&family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">


    <!-- Include your custom fonts and styles here -->
</head>
<body>
    <h2> Your Monthly Budget Plan</h2>
    <a href="{{ url_for('generate_report') }}" class="btn btn-primary">Generate Report</a>

    <!-- Add additional content or styling as needed -->
</body>
</html>
